{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Area Chart Example-->
<div class="card mb-3">
    <div class="card-header dekoding-bg">Add Owner</div>
    <div class="card-body">
        <div class="container-fluid">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.owner_firstName.id_firstName }}">First Name</label>
                    {{ form.owner_firstName }}
                </div>
                <div class="form-group">
                    <label for="{{ form.owner_secondName.id_secondName }}">Second Name</label>
                    {{ form.owner_secondName }}
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="{{ form.owner_dni.id_Dni }}">D.N.I.</label>
                        {{ form.owner_dni }}
                    </div>
                    <div class="form-group col-8">
                        <label for="{{ form.owner_address.id_Address }}">Address</label>
                        {{ form.owner_address }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="{{ form.owner_province.id_Province }}">Province</label>
                        {{ form.owner_province }}
                    </div>
                    <div class="form-group col-4">
                        <label for="{{ form.owner_department.id_Department }}">Department</label>
                        {{ form.owner_department }}
                    </div>
                    <div class="form-group col-4">
                        <label for="{{ form.owner_nationality.id_Nationality }}">Nationality</label>
                        {{ form.owner_nationality }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="{{ form.owner_cellular.id_Cellular }}">Cellular</label>
                        {{ form.owner_cellular }}
                    </div>
                    <div class="form-group col-6">
                        <label for="{{ form.owner_email.id_Email }}">E-mail</label>
                        {{ form.owner_email }}
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn dekoding-bg" />
            </form>
        </div>
    </div>
</div>
{% endblock %}