{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="card mb-3">
    <div class="card-header dekoding-bg">Owners List</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead class="dekoding-table">
                    <tr>
                        <th>Name</th>
                        <th>D.N.I.</th>
                        <th>Address</th>
                        <th>Nationality</th>
                        <th>Cellular</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tfoot class="dekoding-table">
                    <tr>
                        <th>Name</th>
                        <th>D.N.I.</th>
                        <th>Address</th>
                        <th>Nationality</th>
                        <th>Cellular</th>
                        <th>E-mail</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for owner in owners %}
                        <tr>
                            <td>{{ owner.secondName }} {{ owner.firstName }}</td>
                            <td>{{ owner.dni }}</td>
                            <td>{{ owner.address }}</td>
                            <td>{{ owner.nationality }}</td>
                            <td>{{ owner.cellular }}</td>
                            <td>{{ owner.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div> 
{% endblock %}
