{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="card mb-3">
    <div class="card-header dekoding-bg">Add Dog</div>
    <div class="card-body">
        <div class="container-fluid">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.dog_name.id_Name }}">Name</label>
                    {{ form.dog_name }}
                </div>
                <div class="form-group">
                    <label for="{{ form.dog_age.id_Age }}">Age</label>
                    {{ form.dog_age }}
                </div>
                <div class="form-group">
                    <label for="{{ form.dog_breed.id_Breed }}">Breed</label>
                    {{ form.dog_breed }}
                </div>
                <div class="form-group">
                    <label for="{{ form.dog_owner.id_Owner }}">Owner</label>
                    {{ form.dog_owner }}
                </div>
                <input type="submit" value="Submit" class="btn dekoding-bg" />
            </form>
        </div>
    </div>
</div>
{% endblock %}