{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="card mb-3">
    <div class="card-header dekoding-bg">Dogs List</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead class="dekoding-table">
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Breed</th>
                        <th>Owner</th>
                    </tr>
                </thead>
                <tfoot class="dekoding-table">
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Breed</th>
                        <th>Owner</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dog in dogs %}
                        <tr>
                            <td>{{ dog.dogName }}</td>
                            <td>{{ dog.dogAge }}</td>
                            <td>{{ dog.dogBreed }}</td>
                            <td>{{ dog.dogOwner }}</td>
                        </tr>    
                    
                    {% endfor %}
                </tbody>
            </table>  
        </div>
    </div>
</div> 
{% endblock %}
